{% extends 'base.html' %}

{% block content %}
<div class="content p-4 flex-grow-1">
    <div class="title-block p-2 px-3 mb-3">
        <h5 class="fw-bold m-0">Public Notes</h5>
    </div>

    <!-- search box-->
    <div class="mb-4">
        <input type="text" id="searchPublicNotes" class="form-control" placeholder="Search public notes...">
    </div>

    <!-- Container for public notes -->
    <div id="publicNotesContainer" class="all-notes-container d-flex flex-wrap gap-3 mb-5">
        <!-- Public notes will be dynamically loaded here -->
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation" class="mt-4">
        <ul id="pagination" class="pagination justify-content-center custom-pagination">
        </ul>
    </nav>
</div>
{% endblock %}

{% block load_js %}
<script src="{{ url_for('static', filename='js/public_notes.js') }}"></script>
{% endblock %}