<div class="modal fade" id="shareNoteModal" tabindex="-1" aria-labelledby="shareNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="shareNoteModalLabel">Share Note</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="shareNoteForm">
            <input type="hidden" id="noteIdToShare">
            <div class="mb-3">
              <label for="shareEmail" class="form-label">Recipient Email: </label>
              <input type="email" class="form-control" id="shareEmail" placeholder="Enter email" required>
            </div>
            <div class="mb-3">
              <label for="shareMessage" class="form-label">Message: </label>
              <textarea class="form-control" id="shareMessage" rows="3" placeholder="Enter messeage"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="shareNoteBtn">Share</button>
        </div>
      </div>
    </div>
  </div>