{% extends 'base.html' %} {% block content %}
{% include 'shared_modal.html' %}
<div class="content p-4 flex-grow-1">
  <div id="shared-with-me">
    <!-- Tabs -->
    <div class="d-flex mb-3 border-bottom">
      <a class="tab-button {% if not shared_by_me %}active{% endif %}" href="/share-with-me">Shared with me</a>
      <a class="tab-button {% if shared_by_me %}active{% endif %}" href="/share-by-me">Shared by me</a>
    </div>

    <!-- Title -->
    <h4 class="mb-4 fw-bold">
      {{ 'Shared by me' if shared_by_me else 'Shared with me' }}
    </h4>

    <!-- Cards -->
     <div style="min-height: 80%;">
       <div id="sharedNotesContainer" class="all-notes-container d-flex flex-wrap gap-3 mb-5" data-limit="15" data-by-me="{{shared_by_me}}">
           <!-- Notes sẽ được load ở đây -->
       </div>
     </div>
  </div>
</div>
{% endblock %}

{% block load_js %}
<script src="{{ url_for('static', filename='js/share_with_me.js') }}"></script>
{% endblock load_js %}